<div class="container dashboard">
  <h1>Dashboard</h1>
  <p>Welcome <%= @user.first_name %>!</p>
  <p><%= @jan["version"] %></p>

  <br>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="chart-1" style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div><script type="text/javascript">
          new Chartkick.AreaChart("chart-1", [["Washington","1789-04-29","1797-03-03"],["Adams","1797-03-03","1801-03-03"],["Jefferson","1801-03-03","1809-03-03"]], {});
        </script>

      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i>Table
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Annual</th>
                      <th>Jan</th>
                      <th>Feb</th>
                      <th>Mar</th>
                      <th>Apr</th>
                      <th>May</th>
                      <th>Jun</th>
                      <th>Jul</th>
                      <th>Aug</th>
                      <th>Sep</th>
                      <th>Oct</th>
                      <th>Nov</th>
                      <th>Dec</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><p>6.06</p></td>
                      <td><p>5.0</p></td>
                      <td><p>5.34</p></td>
                      <td><p>5.94</p></td>
                      <td><p>6.11</p></td>
                      <td><p>6.36</p></td>
                      <td><p>7.43</p></td>
                      <td><p>7.48</p></td>
                      <td><p>6.65</p></td>
                      <td><p>6.81</p></td>
                      <td><p>5.82</p></td>
                      <td><p>5.11</p></td>
                      <td><p>4.67</p></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-4 (nested) -->
            <div class="col-lg-8">
              <div id="morris-bar-chart"></div>
            </div>
            <!-- /.col-lg-8 (nested) -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.panel-body -->
      </div>
    <!-- /.panel -->
    </div>
  </div>
</div>


